.footer-top b,
.footer-top small {
    display: block;
}
.footer-top b {
    font-size: 1.8rem;
}
.footer-top small {
    font-style: italic;
    font-size: 1.2rem;
}
footer small {
    display: block;
    font-size: 1.2rem;
    text-align: center;
}
@media (min-width: 992px) {
    .footer-top b {
        font-size: 1rem;
    }
    .footer-top small {
        font-size: 0.9rem;
    }
    footer small {
        font-size: 0.9rem;
    }
}