.latest-from__title {
    font-size: 2.8rem;
}
.latest-from__content .latest-from__content--open,
.latest-from__content .latest-from__content--close {
    font-family: AraAlBayan;
    font-size: 60px;
    color: #000;
}
.latest-from__content .latest-from__content--open {
    transform: rotate(180deg);
    display: block;
    position: relative;
    top: -11rem;
}
.latest-from__content .latest-from__content--close {
    display: block;
    position: relative;
    bottom: -11rem;
}
.latest-from__content .latest-from__content--content {
    font-size: 1.7rem;
    color: #000;
    text-align: center;
}

@media (min-width: 992px) {
    .latest-from__title {
        font-size: 2.5rem;
        text-align: center;
    }
    .latest-from__content .latest-from__content--open,
    .latest-from__content .latest-from__content--close {
        font-family: AraAlBayan;
        font-size: 3.75rem;
        color: #000;
    }
    .latest-from__content .latest-from__content--open {
        top: -3rem;
    }
    .latest-from__content .latest-from__content--close {
        bottom: -3rem;
    }
    .latest-from__content .latest-from__content--content {
        font-size: 1.1rem;
        color: #000;
        text-align: center;
    }
    .latest-from__button {
        width: 135px;
        height: 43px;
        font-size: 14px;
        background-color: white;
        border: 1px solid #000;
    }
}