.subscribe {
    padding: 0;
    background-color: #fff;
    font-family: LibreBaskerville, sans-serif;
}
.subscribe .subcribe__title {
    font-size: 2.8rem;
}
.subscribe .subcribe__input {
    display: flex;
    align-items: center;
}
.subscribe .subcribe__input input {
    border: none;
    background-color: #000;
    color: white;
    font-size: 1.5rem;
    height: 53px;
    padding: 16px 20px;
}
.subscribe .subcribe__input input::placeholder {
    color: white;
    font-size: 15px;
}
.subscribe .subcribe__input input:focus {
    outline: none;
}
.subscribe .subcribe__input button {
    color: white;
    background-color: #000;
    border: none;
    height: 53px;
    width: 53px;
}
.subscribe .subcribe__socials a {
    color: black;
}
.subscribe .subcribe__socials a:hover {
    text-decoration: none;
}
@media (min-width: 992px) {
    .subscribe .subcribe__title {
        font-size: 2.5rem;
    }
}