.we-are-exp .we-are-exp__title  {
    display: flex;
    flex-direction: column;
}
.we-are-exp .we-are-exp__title .title-1 {
    font-size: 3.2rem;
    font-style: italic;
    align-self: flex-start;
}
.we-are-exp .we-are-exp__title .title-2 {
    font-size: 4.4rem;
}
.we-are-exp .we-are-exp__title .title-3 {
    font-size: 2.8rem;
    align-self: flex-end;
}
.we-are-exp .we-are-exp__content p {
    font-size: 1.7rem;
}
@media (min-width: 992px) {
    .we-are-exp .we-are-exp__title {
        width: auto;
    }
    .we-are-exp .we-are-exp__title .title-1 {
        font-size: 3.5rem;
    }
    .we-are-exp .we-are-exp__title .title-2 {
        font-size: 4.4rem;
    }
    .we-are-exp .we-are-exp__title .title-3 {
        font-size: 2.5rem;
    }
    .we-are-exp .we-are-exp__content p {
        font-size: 1.1rem;
    }
}